body, html {
  margin: 0;
  padding: 0;
  font-family: $font_montserrat;
  /* width */
&::-webkit-scrollbar {
  width: 4px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
&::-webkit-scrollbar-thumb {
  background: $secondary_color; 
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: rgba(251, 93, 86, 0.8);
}
}


